
    
    

 
      
      <div class="data-table-area mg-b-15">
        <div class="container-fluid">
        <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="sparkline13-list">
       
        <div class="sparkline13-graph">
        <div class="datatable-dashv1-list custom-datatable-overright">
        <div id="toolbar">
          <div class="sparkline13-hd">
            <div class="main-sparkline13-hd">
            <h1>Internal List <small>(Select Row To Update)</small></h1>
            </div>

            </div>
           
        </div>
        <!-- <table class="table-condensed table_header" id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true" data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar"   data-sort-class="table-active"
        data-sortable="true" data-url="../assets/internallist.json" >
        <thead>
        <tr>
       
    
       <th data-field="status" data-checkbox="true"></th>
       <th data-field="tbl_id" data-sortable="true">Table Id</th>
       <th data-field="ZONE_ID" data-sortable="true">Zone Id</th>
       <th data-field="LIST_TYPE" data-sortable="true">List Type</th>
       <th data-field="LIST_CATEGORY" data-sortable="true">List Category</th>
       <th data-field="WATCHLIST_NAME" data-sortable="true">Watchlist Name</th>
       <th data-field="WATCHLIST_ID" data-sortable="true">Watchlist Is</th>
       <th data-field="REF_KEY" data-sortable="true">Ref Key</th>
       <th data-field="MAKER_USER_ID" data-sortable="true">Maker User Id</th>
       <th data-field="CHECKER_USER_ID" data-sortable="true">Checker User Id</th>
       <th data-field="MAKER_USER_NM" data-sortable="true">Maker User NM</th>
       <th data-field="CHECKER_USER_NM" data-sortable="true">Checker User NM</th>
       <th data-field="MAKER_COMMENT" data-sortable="true">Maker Comment</th>
       <th data-field="CHECKER_COMMENT" data-sortable="true">Checker Comment</th>    
        <th data-field="MAKER_DTTM" data-sortable="true">Maker Dttm</th>
       <th data-field="CHECKER_DTTM" data-sortable="true">Checker Dttm</th>
       <th data-field="MAKER_DATE" data-sortable="true">Maker Date</th>
       <th data-field="CHECKER_DATE" data-sortable="true">Checker Date</th>
       <th data-field="CHANGE_TYPE" data-sortable="true">Change Type</th>
       <th data-field="UPDATE_VERSION" data-sortable="true">Update Version</th>
       <th data-field="VALIDATION_STATUS" data-sortable="true">Vaildation Status</th>
       <th data-field="VALID_FROM_DTTM" data-sortable="true">Valid From Dttm</th>
       <th data-field="VALID_TO_DTTM" data-sortable="true">Valid To Dttm</th>
        </tr>
        </thead>
        
        </table> -->
        <table class="table">
          <tr>
            <th><input type="checkbox"/></th>
            <th>List Type</th>
            <th>Watchlist Id</th>
            <th>Watchlist Name</th>
          </tr>
          <tr *ngFor= "let item of showinternallist.result">
            <th><input type="checkbox"/></th>
            <td>{{item.LIST_TYPE}}</td>
            <td>{{item.WATCHLIST_ID}}</td>
            <td>{{item.WATCHLIST_NAME}}</td>
            <td>
              <a class="action-btn" (click)="oninterEdit(item)">
                <i class="material-icons">edit</i>
              </a>
              <a class="action-btn" (click)="oninterDelete(item.REF_KEY,internaldef)">
                <i class="material-icons">delete</i>
              </a>
            </td>
          </tr>
        </table>
      </div>
        </div>
        </div>
        </div>

        </div>
      </div>
    </div>
    <div class="data-table-area mg-b-15">
      <div class="container-fluid">
        <form #internaldef="ngForm" (ngSubmit)="submitInternal(internaldef)" id="addForm">
        <div class="row">
         {{internaldef.value|json}}
          <div class="col-md-4">
            <input type="hidden" name="REF_KEY" #REF_KEY="ngModel" [(ngModel)]="_tableservice.selectedinterdef.REF_KEY">
            <div class="form-group">
              <label for="">ZONE_ID</label>
              <input type="text" class="input-sm form-control" name="zone_id" #zone_id="ngModel" ngModel [(ngModel)]="_tableservice.selectedinterdef.ZONE_ID"/>
            </div>
            <div class="form-group">
              <label for="">LIST_TYPE</label>
              <input type="text" class="form-control input-sm" name="list_type" #list_type="ngModel" [(ngModel)]="_tableservice.selectedinterdef.LIST_TYPE"/>
            </div>
                <div class="form-group">
                  <label for="">LIST_CATEGORY</label>
                  <input type="text" class="input-sm form-control" name="list_category" #list_category="ngModel" [(ngModel)]="_tableservice.selectedinterdef.LIST_CATEGORY"/>
                </div>
                <div class="form-group">
                  <label for="">WATCHLIST_NAME</label>
                  <input type="text" class="form-control input-sm" name="watchlist_name" #watchlist_name="ngModel" [(ngModel)]="_tableservice.selectedinterdef.WATCHLIST_NAME"/>
                </div>
                <div class="form-group">
                  <label for="">WATCHLIST_ID</label>
                  <input type="text" class="form-control input-sm" name="watchlist_id" #watchlist_id="ngModel" [(ngModel)]="_tableservice.selectedinterdef.WATCHLIST_ID"/>
                </div>
                <div class="form-group">
                  <label for="">MAKER_USER_ID</label>
                  <input type="text" class="form-control input-sm" name="maker_user_id" #maker_user_id="ngModel" [(ngModel)]="_tableservice.selectedinterdef.MAKER_USER_ID"/>
                </div>
                <div class="form-group">
                  <label for="">CHECKER_USER_ID</label>
                  <input type="text" class="form-control input-sm" name="checker_user_id" #checker_user_id="ngModel" [(ngModel)]="_tableservice.selectedinterdef.CHECKER_USER_ID"/>
                </div>
                <div class="form-group">
                  <label for="">MAKER_USER_NM</label>
                  <input type="text" class="form-control input-sm" name="maker_user_nm" #maker_user_nm="ngModel"  [(ngModel)]="_tableservice.selectedinterdef.MAKER_USER_NM"/>
                </div>
                <div class="form-group">
                  <label for="">CHECKER_USER_NM</label>
                  <input type="text" class="form-control input-sm" name="checker_user_nm" #checker_user_nm="ngModel" [(ngModel)]="_tableservice.selectedinterdef.CHECKER_USER_NM"/>
                </div>
              
           
          </div>
          <div class="col-md-4">
          
              <div class="form-group">
                <label for="">MAKER_COMMENT</label>
                <input type="text" class="form-control input-sm" name="maker_comment" #maker_comment="ngModel" [(ngModel)]="_tableservice.selectedinterdef.MAKER_COMMENT"/>
              </div>
              <div class="form-group">
                <label for="">CHECKER_COMMENT</label>
                <input type="text" class="form-control input-sm" name="checker_comment" #checker_comment="ngModel" [(ngModel)]="_tableservice.selectedinterdef.CHECKER_COMMENT"/>
              </div>
              <div class="form-group">
                <label for="">MAKER_DTTM</label>
                <input type="text" class="form-control input-sm" name="maker_dttm" #maker_dttm="ngModel" [(ngModel)]="_tableservice.selectedinterdef.MAKER_DTTM"/>
              </div>
              <div class="form-group">
                <label for="">CHECKER_DTTM</label>
                <input type="text" class="form-control input-sm" name="checker_dttm" #checker_dttm="ngModel" [(ngModel)]="_tableservice.selectedinterdef.CHECKER_DTTM"/>
              </div>
              <div class="form-group">
                <label for="">MAKER_DATE</label>
                <input type="date" class="form-control input-sm" name="maker_date" #maker_date="ngModel" [(ngModel)]="_tableservice.selectedinterdef.MAKER_DATE"/>
              </div>
              <div class="form-group">
                <label for="">CHECKER_DATE</label>
                <input type="date" class="form-control input-sm" name="checker_date" #checker_date="ngModel" [(ngModel)]="_tableservice.selectedinterdef.CHECKER_DATE"/>
              </div>
           
        </div>
        <div class="col-md-4">
        
           
            <div class="form-group">
              <label for="">CHANGE_TYPE</label>
              <input type="text" class="form-control input-sm" name="change_type" #change_type="ngModel" [(ngModel)]="_tableservice.selectedinterdef.CHANGE_TYPE"/>
            </div>
            <div class="form-group">
              <label for="">UPDATE_VERSION</label>
              <input type="text" class="form-control input-sm" name="update_version" #update_version="ngModel" [(ngModel)]="_tableservice.selectedinterdef.UPDATE_VERSION"/>
            </div>
            <div class="form-group">
              <label for="">VALIDATION_STATUS</label>
              <input type="text" class="form-control input-sm" name="validation_status" #validation_status="ngModel" [(ngModel)]="_tableservice.selectedinterdef.VALIDATION_STATUS"/>
            </div>
            <div class="form-group">
              <label for="">VALID_FROM_DTTM</label>
              <input type="date" class="form-control input-sm" name="valid_from_dttm" #valid_from_dttm="ngModel" [(ngModel)]="_tableservice.selectedinterdef.VALID_FROM_DTTM"/>
            </div>
            <div class="form-group">
              <label for="">VALID_TO_DTTM</label>
              <input type="date" class="form-control input-sm" name="valid_to_dttm" #valid_to_dttm="ngModel" [(ngModel)]="_tableservice.selectedinterdef.VALID_TO_DTTM"/>
            </div>
            <div class="form-group">
              <label for="">DELETE_FLG</label>
              <input type="text" class="form-control input-sm" name="delete_flg" #delete_flg="ngModel" [(ngModel)]="_tableservice.selectedinterdef.DELETE_FLG"/>
            </div>
           
       
      </div>
      <div class="col-md-12">
        <div class="clearfix"></div>
        <input type="submit" class="btn btn-success "/>
      </div>
  

        </div>
      </form>
        </div>
        </div>
        
        <div class="footer-copyright-area">
        <div class="container-fluid">
        <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="footer-copy-right">
        <p>Copyright © 2020 <a href="#">Trustling</a> All rights reserved.</p>
        </div>
        </div>
        </div>
        </div>
        </div>
      