
    
    

 
      
      <div class="data-table-area mg-b-15">
         <div class="container-fluid">
         <div class="row">
         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <div class="sparkline13-list">
        
         <div class="sparkline13-graph">
         <div class="datatable-dashv1-list custom-datatable-overright">
         <div id="toolbar">
           <div class="sparkline13-hd">
             <div class="main-sparkline13-hd">
             <h1>Internal List <small>(Select Row To Update)</small></h1>
             </div>
 
             </div>
            
         </div>
         <!-- <table class="table-condensed table_header" id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true" data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar"   data-sort-class="table-active"
         data-sortable="true" data-url="../assets/internallist.json" >
         <thead>
         <tr>
        
     
        <th data-field="status" data-checkbox="true"></th>
        <th data-field="tbl_id" data-sortable="true">Table Id</th>
        <th data-field="ZONE_ID" data-sortable="true">Zone Id</th>
        <th data-field="LIST_TYPE" data-sortable="true">List Type</th>
        <th data-field="LIST_CATEGORY" data-sortable="true">List Category</th>
        <th data-field="WATCHLIST_NAME" data-sortable="true">Watchlist Name</th>
        <th data-field="WATCHLIST_ID" data-sortable="true">Watchlist Is</th>
        <th data-field="REF_KEY" data-sortable="true">Ref Key</th>
        <th data-field="MAKER_USER_ID" data-sortable="true">Maker User Id</th>
        <th data-field="CHECKER_USER_ID" data-sortable="true">Checker User Id</th>
        <th data-field="MAKER_USER_NM" data-sortable="true">Maker User NM</th>
        <th data-field="CHECKER_USER_NM" data-sortable="true">Checker User NM</th>
        <th data-field="MAKER_COMMENT" data-sortable="true">Maker Comment</th>
        <th data-field="CHECKER_COMMENT" data-sortable="true">Checker Comment</th>    
         <th data-field="MAKER_DTTM" data-sortable="true">Maker Dttm</th>
        <th data-field="CHECKER_DTTM" data-sortable="true">Checker Dttm</th>
        <th data-field="MAKER_DATE" data-sortable="true">Maker Date</th>
        <th data-field="CHECKER_DATE" data-sortable="true">Checker Date</th>
        <th data-field="CHANGE_TYPE" data-sortable="true">Change Type</th>
        <th data-field="UPDATE_VERSION" data-sortable="true">Update Version</th>
        <th data-field="VALIDATION_STATUS" data-sortable="true">Vaildation Status</th>
        <th data-field="VALID_FROM_DTTM" data-sortable="true">Valid From Dttm</th>
        <th data-field="VALID_TO_DTTM" data-sortable="true">Valid To Dttm</th>
         </tr>
         </thead>
         
         </table> -->
         <table class="table">
           <tr>
             <th><input type="checkbox"/></th>
             <th>UID_SERIAL_NO</th>
             <th>CUSTOMER_NAME_ENGLISH</th>
             <th>CUSTOMER_TYPE</th>
             <th>NATIONALITY</th>
             <th>ID_NUMBER</th>
             <th>CUSTOMER_ACCOUNT</th>
             <th>List Name</th>
           </tr>
           <tr *ngFor= "let item of showinternawatch.result">
             <th><input type="checkbox"/></th>
             <td>{{item.UID_SERIAL_NO}}</td>
             <td>{{item.CUSTOMER_NAME_ENGLISH}}</td>
             <td>{{item.CUSTOMER_TYPE}}</td>
             <td>{{item.NATIONALITY}}</td>
             <td>{{item.ID_NUMBER}}</td>
             <td>{{item.CUSTOMER_ACCOUNT}}</td>
             <td>{{item.WATCHLIST_NAME}}</td>
             <td>
               <a class="action-btn" (click)="onEdit(item)">
                 <i class="material-icons">edit</i>
               </a>
               <a class="action-btn" (click)="onDelete(item.UID_SERIAL_NO,internalwatch)">
                 <i class="material-icons">delete</i>
               </a>
             </td>
           </tr>
         </table>
       </div>
         </div>
         </div>
         </div>
 
         </div>
       </div>
     </div>
     <div class="data-table-area mg-b-15">
       <div class="container-fluid">
         <form #internalwatch="ngForm" (ngSubmit)="submitwatch(internalwatch)" id="addForm">
         <div class="row">
          {{internalwatch.value|json}}
           <div class="col-md-4">
             <input type="hidden" name="UID_SERIAL_NO" #UID_SERIAL_NO="ngModel" [(ngModel)]="_tableservice.selectedinterwatch.UID_SERIAL_NO">
             <div class="form-group">
               <label for="">ZONE_ID</label>
               <input type="text" class="input-sm form-control" name="zone_id" #zone_id="ngModel"  [(ngModel)]="_tableservice.selectedinterwatch.ZONE_ID"/>
             </div>
             <div class="form-group">
               <label for="">WATCHLIST_ID</label>
               <input type="text" class="form-control input-sm" name="watchlist_id" #watchlist_id="ngModel" [(ngModel)]="_tableservice.selectedinterwatch.WATCHLIST_ID"/>
             </div>
                 <div class="form-group">
                   <label for="">WATCHLIST_NAME</label>
                   <input type="text" class="input-sm form-control" name="watchlist_name" #watchlist_name="ngModel" [(ngModel)]="_tableservice.selectedinterwatch.WATCHLIST_NAME"/>
                 </div>
                
                 <div class="form-group">
                   <label for="">CUSTOMER_NAME_ENGLISH</label>
                   <input type="text" class="form-control input-sm" name="customer_name_english" #customer_name_english="ngModel" [(ngModel)]="_tableservice.selectedinterwatch.CUSTOMER_NAME_ENGLISH"/>
                 </div>

                 <div class="form-group">
                  <label for="">CUSTOMER_NAME_ARABIC</label>
                  <input type="text" class="form-control input-sm" name="customer_name_arabic" #customer_name_arabic="ngModel" [(ngModel)]="_tableservice.selectedinterwatch.CUSTOMER_NAME_ARABIC"/>
                </div>
                <div class="form-group">
                  <label for="">CUSTOMER_TYPE</label>
                  <input type="text" class="form-control input-sm" name="customer_type" #customer_type="ngModel" [(ngModel)]="_tableservice.selectedinterwatch.CUSTOMER_TYPE"/>
                </div>

                <div class="form-group">
                  <label for="">CITY</label>
                  <input type="text" class="form-control input-sm" name="city" #city="ngModel" [(ngModel)]="_tableservice.selectedinterwatch.CITY"/>
                </div>
                <div class="form-group">
                  <label for="">CUSTOMER_ACCOUNT</label>
                  <input type="text" class="form-control input-sm" name="customer_account" #customer_account="ngModel" [(ngModel)]="_tableservice.selectedinterwatch.CUSTOMER_ACCOUNT"/>
                </div>
                <div class="form-group">
                  <label for="">DOB</label>
                  <input type="text" class="form-control input-sm" name="dob" #dob="ngModel" [(ngModel)]="_tableservice.selectedinterwatch.DOB"/>
                </div>
                <div class="form-group">
                  <label for="">RESIDENCE_COUNTRY</label>
                  <input type="text" class="form-control input-sm" name="residence_country" #residence_country="ngModel" [(ngModel)]="_tableservice.selectedinterwatch.RESIDENCE_COUNTRY"/>
                </div>
                <div class="form-group">
                  <label for="">RESIDENCE_COUNTRY_FLAG</label>
                  <input type="text" class="form-control input-sm" name="residence_country_flag" #residence_country_flag="ngModel" [(ngModel)]="_tableservice.selectedinterwatch.RESIDENCE_COUNTRY_FLAG"/>
                </div>
                <div class="form-group">
                  <label for="">NATIONALITY</label>
                  <input type="text" class="form-control input-sm" name="nationality" #nationality="ngModel" [(ngModel)]="_tableservice.selectedinterwatch.NATIONALITY"/>
                </div>
                <div class="form-group">
                  <label for="">ID_NUMBER</label>
                  <input type="text" class="form-control input-sm" name="id_number" #id_number="ngModel" [(ngModel)]="_tableservice.selectedinterwatch.ID_NUMBER"/>
                </div>
                <div class="form-group">
                  <label for="">ID_TYPE</label>
                  <input type="text" class="form-control input-sm" name="id_type" #id_type="ngModel" [(ngModel)]="_tableservice.selectedinterwatch.ID_TYPE"/>
                </div>
                 <div class="form-group">
                   <label for="">KNOWN_AS_NAME_ENGLISH</label>
                   <input type="text" class="form-control input-sm" name="known_as_name_english" #known_as_name_english="ngModel" [(ngModel)]="_tableservice.selectedinterwatch.KNOWN_AS_NAME_ENGLISH"/>
                 </div>
                  <div class="form-group">
                   <label for="">KNOWN_AS_NAME_ARABIC</label>
                   <input type="text" class="form-control input-sm" name="known_as_name_arabic" #known_as_name_arabic="ngModel" [(ngModel)]="_tableservice.selectedinterwatch.KNOWN_AS_NAME_ARABIC"/>
                 </div>
                
             
          
               
            
           </div>
           <div class="col-md-4">
         
            <div class="form-group">
               <label for="">MOTHER_NAME</label>
               <input type="text" class="form-control input-sm" name="mother_name" #mother_name="ngModel" [(ngModel)]="_tableservice.selectedinterwatch.MOTHER_NAME"/>
             </div> <div class="form-group">
               <label for="">ADDRESS</label>
               <input type="text" class="form-control input-sm" name="address" #address="ngModel" [(ngModel)]="_tableservice.selectedinterwatch.ADDRESS"/>
             </div>
             <div class="form-group">
               <label for="">REMARKS</label>
               <input type="text" class="form-control input-sm" name="remarks" #remarks="ngModel" [(ngModel)]="_tableservice.selectedinterwatch.REMARKS"/>
             </div>

              <div class="form-group">
                <label for="">CIN</label>
                <input type="text" class="form-control input-sm" name="cin" #cin="ngModel" [(ngModel)]="_tableservice.selectedinterwatch.CIN"/>
              </div>

              <div class="form-group">
               <label for="">NEW_PAN</label>
               <input type="text" class="form-control input-sm" name="new_pan" #new_pan="ngModel" [(ngModel)]="_tableservice.selectedinterwatch.NEW_PAN"/>
             </div>

              <div class="form-group">
                <label for="">SOURCE</label>
                <input type="text" class="form-control input-sm" name="source" #source="ngModel" [(ngModel)]="_tableservice.selectedinterwatch.SOURCE"/>
              </div>

              <div class="form-group">
               <label for="">CUSTOMER_STATUS</label>
               <input type="text" class="form-control input-sm" name="customer_status" #customer_status="ngModel" [(ngModel)]="_tableservice.selectedinterwatch.CUSTOMER_STATUS"/>
             </div>

              <div class="form-group">
                <label for="">BRANCH</label>
                <input type="text" class="form-control input-sm" name="branch" #branch="ngModel" [(ngModel)]="_tableservice.selectedinterwatch.BRANCH"/>
              </div>
   

              <div class="form-group">
                <label for="">CUSTOMER_RISK_LEVEL</label>
                <input type="text" class="form-control input-sm" name="customer_risk_level" #customer_risk_level="ngModel" [(ngModel)]="_tableservice.selectedinterwatch.CUSTOMER_RISK_LEVEL"/>
              </div>
              <div class="form-group">
               <label for="">CUSTOMER_CREATE_DATE</label>
               <input type="text" class="form-control input-sm" name="customer_create_date" #customer_create_date="ngModel" [(ngModel)]="_tableservice.selectedinterwatch.CUSTOMER_CREATE_DATE"/>
             </div>

              <div class="form-group">
                <label for="">CUST_RISK_LEVEL_UPDATE_DATE</label>
                <input type="text" class="form-control input-sm" name="cust_risk_level_update_date" #cust_risk_level_update_date="ngModel" [(ngModel)]="_tableservice.selectedinterwatch.CUST_RISK_LEVEL_UPDATE_DATE"/>
              </div>
             
            
        
       </div>
           <div class="col-md-4">
            <div class="form-group">
               <label for="">POLITICALLY_EXPOSED</label>
               <input type="text" class="form-control input-sm" name="politically_exposed" #politically_exposed="ngModel" [(ngModel)]="_tableservice.selectedinterwatch.POLITICALLY_EXPOSED"/>
             </div>

             <div class="form-group">
               <label for="">DETAILS_PROGRAMS</label>
               <input type="text" class="form-control input-sm" name="details_programs" #details_programs="ngModel" [(ngModel)]="_tableservice.selectedinterwatch.DETAILS_PROGRAMS"/>
             </div>

             <div class="form-group">
               <label for="">OTHERS_REMARKS</label>
               <input type="text" class="form-control input-sm" name="other_remarks" #other_remarks="ngModel" [(ngModel)]="_tableservice.selectedinterwatch.OTHERS_REMARKS"/>
             </div>

             <div class="form-group">
               <label for="">OTHERS_DATA_SOURCES</label>
               <input type="text" class="form-control input-sm" name="other_data_sources" #other_data_sources="ngModel" [(ngModel)]="_tableservice.selectedinterwatch.OTHERS_DATA_SOURCES"/>
             </div>

             <div class="form-group">
               <label for="">OTHERS_RELATED_TO</label>
               <input type="text" class="form-control input-sm" name="other_realted_to" #other_realted_to="ngModel" [(ngModel)]="_tableservice.selectedinterwatch.OTHERS_RELATED_TO"/>
             </div>
            
             
            
         </div>
        
       <div class="col-md-12">
         <div class="clearfix"></div>
         <input type="submit" class="btn btn-success "/>
       </div>
   
 
         </div>
       </form>
         </div>
         </div>
         
         <div class="footer-copyright-area">
         <div class="container-fluid">
         <div class="row">
         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <div class="footer-copy-right">
         <p>Copyright © 2020 <a href="#">Trustling</a> All rights reserved.</p>
         </div>
         </div>
         </div>
         </div>
         </div>
       