
    
    

   
      
      <div class="data-table-area mg-b-15">
      <div class="container-fluid">
      <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="sparkline13-list">
   
      <div class="sparkline13-graph">
      <div class="datatable-dashv1-list custom-datatable-overright">
      <div id="toolbar">
        <div class="sparkline13-hd">
          <div class="main-sparkline13-hd">
          <h1>Blacklisted Bic <small>(Select Row To Update)</small></h1>
          </div>
          </div>
         
      </div>
     
       <table class="table table-bordered">
         <tr>
           <th>Bic</th>
           <th>Institution Name</th>
           <th>City</th>
           <th>Country</th>
         </tr>
         <tr  *ngFor="let bic_item of showdatabic.result">
           <td>{{bic_item.BIC}}</td>
           <td>{{bic_item.INSTITUTION_NAME}}</td>
           <td>{{bic_item.CITY}}</td>
           <td>{{bic_item.COUNTRY}}</td>
           <td>
            <a class="action-btn" (click)="onbicEdit(bic_item)">
              <i class="material-icons">edit</i>
            </a>
            <a class="action-btn" (click)="onbicDelete(bic_item.REF_KEY,bicform)">
              <i class="material-icons">delete</i>
            </a>
          </td>
         </tr>
       </table>
       <form #bicform="ngForm" (ngSubmit)="submitbicform(bicform)" id="addbicForm" >
        <div class="panel-body">
          <h4>Add Record</h4>
        </div>
      
      {{bicform.value|json}}
      <div class="row">
            <div class="col-md-4">
              <input type="hidden" name="REF_KEY" #REF_KEY="ngModel" [(ngModel)]="_tableservice.selectedbic.REF_KEY">
              <div class="form-group">
                <label>Zone Id</label>
              <input type="text" class="form-control" name="zone_id" #zone_id="ngModel" [(ngModel)]="_tableservice.selectedbic.ZONE_ID">
              </div>
              <div class="form-group">
                <label>BIC</label>
              <input type="text" class="form-control" name="bic" #bic="ngModel" [(ngModel)]="_tableservice.selectedbic.BIC">
            </div>
            <div class="form-group">
              <label>INSTITUTION_NAME</label>
              <input type="text" class="form-control" name="institution_name" #institution_name="ngModel" [(ngModel)]="_tableservice.selectedbic.INSTITUTION_NAME">
            </div>
            <div class="form-group">
              <label>CITY</label>
              <input type="text" class="form-control" name="city" #city="ngModel" [(ngModel)]="_tableservice.selectedbic.CITY">
            </div>
            <div class="form-group">
              <label>COUNTRY</label>
              <input type="text" class="form-control" name="country" #country="ngModel" [(ngModel)]="_tableservice.selectedbic.COUNTRY">
            </div>
            <div class="form-group">
              <label>MAKER_USER_ID</label>
              <input type="text" class="form-control" name="maker_user_id" #maker_user_id="ngModel" [(ngModel)]="_tableservice.selectedbic.MAKER_USER_ID">
            </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>CHECKER_USER_ID</label>
                <input type="text" class="form-control" name="chker_user_id" #chker_user_id="ngModel" [(ngModel)]="_tableservice.selectedbic.CHECKER_USER_ID" >
              </div>
              <div class="form-group">
                <label>MAKER_USER_NM</label>
                <input type="text" class="form-control" name="mker_usr_nm" #mker_usr_nm="ngModel" [(ngModel)]="_tableservice.selectedbic.MAKER_USER_NM">
              </div>
              <div class="form-group">
                <label>CHECKER_USER_NM</label>
                <input type="text" class="form-control" name="chker_usr_nm" #chker_usr_nm="ngModel"  [(ngModel)]="_tableservice.selectedbic.CHECKER_USER_NM">
              </div>
              <div class="form-group">
                <label>MAKER_COMMENT</label>
                <input type="text" class="form-control" name="mker_cmnt" #mker_cmnt="ngModel" [(ngModel)]="_tableservice.selectedbic.MAKER_COMMENT">
              </div>
              <div class="form-group">
                <label>CHECKER_COMMENT</label>
                <input type="text" class="form-control" name="chker_cmnt" #chker_cmnt="ngModel" [(ngModel)]="_tableservice.selectedbic.CHECKER_COMMENT">
              </div>
              <div class="form-group">
                <label>MAKER_DTTM</label>
                <input type="date" class="form-control" name="mkr_dttm" #mkr_dttm="ngModel" [(ngModel)]="_tableservice.selectedbic.MAKER_DTTM">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>CHECKER_DTTM</label>
                <input type="date" class="form-control" name="chkr_dttm" #chkr_dttm="ngModel" [(ngModel)]="_tableservice.selectedbic.CHECKER_DTTM">
                
              </div>
              <div class="form-group">
                <label>MAKER_DATE</label>
                <input type="date" class="form-control" name="mkr_dte" #mkr_dte="ngModel" [(ngModel)]="_tableservice.selectedbic.MAKER_DATE">
              </div>
              <div class="form-group">
                <label>CHECKER_DATE</label>
                <input type="date" class="form-control" name="chkr_dte" #chkr_dte="ngModel" [(ngModel)]="_tableservice.selectedbic.CHECKER_DATE">
              </div>
              <div class="form-group">
                <label>CHANGE_TYPE</label>
                <input type="text" class="form-control" name="chng_type" #chng_type="ngModel" [(ngModel)]="_tableservice.selectedbic.CHANGE_TYPE">
              </div>
              <div class="form-group">
                <label>UPDATE_VERSION</label>
                <input type="number" class="form-control" name="updt_version" #updt_version="ngModel" [(ngModel)]="_tableservice.selectedbic.UPDATE_VERSION">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>VALIDATION_STATUS</label>
                <input type="text" class="form-control" name="validtion_status" #validtion_status="ngModel" [(ngModel)]="_tableservice.selectedbic.VALIDATION_STATUS">
                
              </div>
              <div class="form-group">
                <label>VALID_FROM_DTTM</label>
                <input type="date" class="form-control" name="valid_from_dttm" #valid_from_dttm="ngModel" [(ngModel)]="_tableservice.selectedbic.VALID_FROM_DTTM">
              </div>
              <div class="form-group">
                <label>VALID_TO_DTTM</label>
                <input type="date" class="form-control" name="valid_to_dttm" #valid_to_dttm="ngModel" [(ngModel)]="_tableservice.selectedbic.VALID_TO_DTTM">
              </div>
              <div class="form-group">
                <label>BIC8</label>
                <input type="text" class="form-control" name="bic8" #bic8="ngModel" [(ngModel)]="_tableservice.selectedbic.BIC8">
              </div>
              <div class="form-group">
                <label>WATCHLIST_NAME</label>
                <input type="text" class="form-control" name="watchlist_name" #watchlist_name="ngModel" [(ngModel)]="_tableservice.selectedbic.WATCHLIST_NAME">
              </div>
              <div class="form-group">
                <label>UID_NO</label>
                <input type="text" class="form-control" name="uid" #uid="ngModel" [(ngModel)]="_tableservice.selectedbic.UID_NO">
              </div>
              <div class="form-group">
                <label>WATCHLIST_TYPE</label>
                <input type="text" class="form-control" name="watchlist_type" #watchlist_type="ngModel" [(ngModel)]="_tableservice.selectedbic.WATCHLIST_TYPE">
              </div>
            </div>
          </div>
  
    
      
        <input type="submit" class="btn btn-success">
        
      </form>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      
      <div class="footer-copyright-area">
      <div class="container-fluid">
      <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="footer-copy-right">
      <p>Copyright © 2020 <a href="#">Trustling</a> All rights reserved.</p>
      </div>
      </div>
      </div>
      </div>
      </div>
    